{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

  {% if page %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": {{ config.site_url | tojson }}
      }

      {% for ancestor in page.ancestors %}
      ,{
        "@type": "ListItem",
        "position": {{ loop.index + 1 }},
        "name": {{ ancestor.title | tojson }},
        "item": {{ (config.site_url ~ ancestor.url) | tojson }}
      }
      {% endfor %}

      ,{
        "@type": "ListItem",
        "position": {{ page.ancestors | length + 2 }},
        "name": {{ page.title | tojson }}
      }
    ]
  }
  </script>
  {% endif %}
{% endblock %}