{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

  {% if page %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": {{ config.site_url | tojson }}
      }

      {% for ancestor in page.ancestors | reverse %}
        {% set ancestor_url = ancestor.url %}

        {% if (not ancestor_url or ancestor_url == "/") and ancestor.children %}
          {% set ancestor_url = ancestor.children[0].url %}
        {% endif %}

      ,{
        "@type": "ListItem",
        "position": {{ loop.index + 1 }},
        "name": {{ ancestor.title | tojson }}
        {% if ancestor_url and ancestor_url != "/" %}
        ,"item": {{ ancestor_url | url | tojson }}
        {% endif %}
      }
      {% endfor %}

      ,{
        "@type": "ListItem",
        "position": {{ page.ancestors | length + 2 }},
        "name": {{ page.title | tojson }}
      }
    ]
  }
  </script>
  {% endif %}
{% endblock %}